body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-wrap {
  width: 100%;
  height: 400px;
}
.header-container {
  width: 100%;
  height: 400px;
  background-image: url(https://modo-phinf.pstatic.net/20170907_158/1504744757396bVomQ_JPEG/mosaKCpNlY.jpeg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.container-overlay {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  z-index: -8;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-main .home-overlay {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top_banner {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top_banner ul {
  display: flex;
  box-sizing: border-box;
  padding: 0rem 1rem;
}
.top_banner li {
  padding: 1rem 1rem;
  color: white;
}

.logo_wrap {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  text-align: center;
}
.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.7;
}

.logo_title {
  color: rgb(200 206 205);
}

.top-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rosybrown;
  margin-top: 50px;
}
a {
  text-decoration: none;
}
.top_banner a {
  color: rgb(200 206 205);
}
.top_banner li {
  transition: all 0.5s;
}
.top_banner li:hover {
  transform: scale(1.1);
}
.home-main {
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 70%;
  margin: 0 auto;
}

.map_img {
  width: 150px;
  height: 150px;
}
.home_QR_cord {
  margin-top: 100px;
  text-align: center;
}

.QR_cord {
  width: 90%;
  margin-top: 100px;
  /* background-image: url(https://modo-phinf.pstatic.net/20210412_269/1618180603861754Vj_JPEG/mosa4ptfkV.jpeg?type=f530_353);
  background-size: cover; */
  text-align: center;
}

.QR_explain {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.QR_explain h3 {
  width: 6rem;
}

.subtext {
  color: rgb(113 63 18);
  font-weight: 600;
}

.QR_img {
  width: 90%;
}
.shop_imgbox {
  width: 90%;
  margin-bottom: 50px;
}
.shop_image {
  width: 100%;
}

.hashtag {
  margin-left: 5px;
}
.red {
  color: rgb(239 68 68);
}

.green {
  color: rgb(74 222 128);
}

.yellow {
  color: rgb(250 204 21);
}

.teal {
  color: rgb(94 234 212);
}

.violet {
  color: rgb(139 92 246);
}

.pink {
  color: rgb(236 72 153);
}

.blue {
  color: rgb(99 102 241);
}

.shop_intro_text {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.shop_main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppage_title {
  color: rgb(149 128 99);
}
.slick-prev:before{
  left: 2% !important;
  color: black !important;
  z-index: 10;
}
.slick-next:before{
  left: 2% !important;
  color: black !important;
  z-index: 10;
}
.slide_box1 {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin:150px auto;
  height:320px;
}

.item_wrap{
  color:rgb(146 64 14);
  font-weight:600;
}

.Group-page{
  margin-top:100px;
}

.slide_item {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-sizing: border-box;
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .QR_Wrap {
    display: flex;
  }
  .QR_cord {
    width: 700px;
  }
  .home-main {
    width: 90%;
  }
  .shop_imgbox {
    width: 800px;
  }
  .shop_intro_text {
    width: 850px;
  }
}
@media (max-width : 600px){
  .slide_item{
    width:150px;
    height:150px;
  }
  .slide_box1{
    height:200px;
  }
}